<section class="
      section
      novi-background
      bg-cover
      section-xl
      bg-white
      text-center
      decoration-1
    ">
    <div class="container">
        <h3 class="wow fadeInRight">
            Find new ideas and<br/>inspiration in our blog
        </h3>
        <h6 class="title-style-1 wow fadeInLeft">Latest blog posts</h6>
        <div class="
          row row-xl row-30
          justify-content-center justify-content-xl-between
        ">
            <div class="col-sm-6 col-md-4 col-xl-3 wow fadeInUp" data-wow-delay=".05s">
                <article class="post-classic">
                    <div class="heading-3 post-classic-time">
                        <time datetime="2019-06-19">June 19, 2019</time>
                    </div>
                    <a class="post-classic-figure" href="#"><img src="{% static 'images/post-1-270x182.jpg' %}"
                                                                 alt=""
                                                                 width="270" height="182"/></a>
                    <h5 class="post-classic-title">
                        <a href="#">How Art Influences Modern Architecture</a>
                    </h5>
                    <p class="post-classic-text">
                        Looking through our recent, impactful projects, we set out to ask
                        the designers about their opinion...
                    </p>
                </article>
            </div>
            <div class="col-sm-6 col-md-4 col-xl-3 wow fadeInUp">
                <article class="post-classic">
                    <div class="heading-3 post-classic-time">
                        <time datetime="2019-05-30">May 30, 2019</time>
                    </div>
                    <a class="post-classic-figure" href="#"><img src="{% static 'images/post-2-270x182.jpg' %}"
                                                                 alt=""
                                                                 width="270" height="182"/></a>
                    <h5 class="post-classic-title">
                        <a href="#">New Trends in Architecture: overview</a>
                    </h5>
                    <p class="post-classic-text">
                        Architecture is constantly evolving based on changes in our
                        culture, society and the environment. While...
                    </p>
                </article>
            </div>
            <div class="col-sm-6 col-md-4 col-xl-3 wow fadeInUp" data-wow-delay=".05s">
                <article class="post-classic">
                    <div class="heading-3 post-classic-time">
                        <time datetime="2019-04-15">April 15, 2019</time>
                    </div>
                    <a class="post-classic-figure" href="#"><img src="{% static 'images/post-3-270x182.jpg' %}"
                                                                 alt=""
                                                                 width="270" height="182"/></a>
                    <h5 class="post-classic-title">
                        <a href="#">Working with an Architect: 10 useful tips</a>
                    </h5>
                    <p class="post-classic-text">
                        A skilled architect will elevate the work you do to your home from
                        the ordinary to the wonderful. Here’s...
                    </p>
                </article>
            </div>
        </div>
    </div>
</section>