{% load static %}
<section class="
      novi-background
      bg-cover
      section-xl
      bg-white
      text-start
      table-responsive
    ">
    <div class="container">
        <div class="d-flex flex-column align-items-center mb-3">
            <img src="{% static 'images/logo_1.svg' %}" height="500" width="500">
            <h3 class="wow fadeInRight" style="margin-top: 20px;">
                Unseres Angebot
            </h3>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="col-1">Pos.</th>
                <th class="col-5">Bezeichnung</th>
                <th class="col-1">Menge</th>
                <th scope="col-1">Einh.</th>
                <th class="col-2">Preis</th>
                <th class="col-2">Gesamt</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>
                    Photovoltaik Generatorfläche 5,22kWp inkl. Module
                    und Unterkonstruktion, Solarkabel, Erdung etc. 1x
                    Modulfläche 12 stk Trina 435Wp Module Vollschwarz N-
                    Typ TOP-CON, Glas, Bifazial 25 Jahre Produktgarantie
                    des Herstellerslineare Leistungsgarantie des
                    Herstellers über 30 Jahre An Statik angepasstes
                    Montagegestell: Aluminnium Edelstahl in
                    Silber,Bestigungsklemmen in Schwarz. Gesamtleistung
                    der Anlage knn durch Abweichungen in der
                    Modulleistung je nach Verfügbarkeit variiren!
                    </br>
                    <b>Inkl. Lieferung und Montage</b>
                </td>
                <td>1</td>
                <td>Stück</td>
                <td>5.150,00 €</td>
                <td>5.150,00 €</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>
                    Huawei Hybrd-Wechselrichter und Speicherpaket - 5kW/5kWh
                    HUAWEI SUN2000-5KTL-M1-(13.5A) 3ph
                    -HUAWEI Smart Power Sensor DTSU666-H 100A
                    -HUAWEI LUNA2000-5-SO-Speicherpaket 5kWh Inkl.
                    Lieferung,AC-Montage,Kundeneinweißung
                </td>
                <td>1</td>
                <td>Stück</td>
                <td>6.850,00 €</td>
                <td>6.850,00 €</td>
            </tr>
            <tr>
                <th scope="row">Gesamtbetrag</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>12.000,00 €</td>
            </tr>
            </tbody>
        </table>
        <div>
            <p class="font-weight-bold">
                Gemäß § 13 b Abs. 5 UStG sind Sie als Leistungsempfänger Schuldner der Umsatzsteuer.
                </br>
                Zahlungsbedingung: Zahlbar innerhalb 7 Tagen ohne Abzug ab Rechnungsdatum.
            </p>
        </div>
    </div>
</section>