<!-- Cookies Modal -->
<div class="modal fade" id="cookieModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Wir lieben Cookies</h5>
            </div>
            <div class="modal-body">
                Informiere dich in unserem Datenschutz über Cookies und die Verwendung privater Daten auf unserer
                Website.
                Akzeptiere alle Cookies, und sichere dir das beste Surferlebnis. Fährst du einfach fort, stimmst du der
                Verwendung der
                technisch notwendigen Cookies zu.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-close-cookie-notification">ZUSTIMMEN</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">ABLEHNEN</button>
            </div>
        </div>
    </div>
</div>