<form id="form_2" class="rd-mailform text-left" data-form-output="form-output-global" data-form-type="contact"
      method="post" action=".">
    <input type="hidden" name="form_type" value="form-2"/>
    {% csrf_token %}
    <div class="form-wrap" id="price">
        <label class="form-label" for="lastname">Name</label>
        <input class="form-input" id="lastname" type="text" name="name" data-constraints="@Required"/>
    </div>
    <div class="form-wrap">
        <label class="form-label" for="useremail">Email</label>
        <input class="form-input" id="useremail" type="email" name="email" data-constraints="@Required @Email"/>
    </div>
    <div class="form-wrap">
        <label class="form-label" for="userphone">Telefon</label>
        <input class="form-input" id="userphone" type="text" name="phone" data-constraints="@Required @PhoneNumber"/>
    </div>
    <div class="form-button">
        <button class="button button-jerry button-primary" type="submit">
            Senden<span class="button-jerry-line"></span><span class="button-jerry-line"></span><span
                class="button-jerry-line"></span><span class="button-jerry-line"></span>
        </button>
    </div>
</form>