<form id="form_1" class="rd-mailform text-left" data-form-output="form-output-global" data-form-type="contact"
      method="post" action="">
    <input type="hidden" name="form_type" value="form-1"/>
    {% csrf_token %}
    <div class="form-wrap" id="contact">
        <label class="form-label" for="name">Name</label>
        <input class="form-input" id="name" type="text" name="name" data-constraints="@Required"/>
    </div>
    <div class="form-wrap">
        <label class="form-label" for="email">Email</label>
        <input class="form-input" id="email" type="email" name="email" data-constraints="@Required @Email"/>
    </div>
    <div class="form-wrap">
        <label class="form-label" for="phone">Telefon</label>
        <input class="form-input" id="phone" type="text" name="phone"
               data-constraints="@Required @PhoneNumber"/>
    </div>
    <div class="form-wrap">
        <textarea class="form-input" type="text" name="message" id="message" placeholder="Ihre Nachricht"></textarea>
    </div>
    <div class="form-button">
        <button class="button button-jerry button-primary" type="submit">
            Senden<span class="button-jerry-line"></span><span class="button-jerry-line"></span><span
                class="button-jerry-line"></span><span class="button-jerry-line"></span>
        </button>
    </div>
</form>