<form id="form_2" class="rd-mailform text-left" data-form-output="form-output-global" data-form-type="contact"
  method="post" action=".">
  <input type="hidden" name="form_type" value="form_2" />
  {% csrf_token %}
  <div class="form-wrap" id="price">
    <label class="form-label" for="contact-name">Name</label>
    <input class="form-input" id="contact-name" type="text" name="name" data-constraints="@Required" />
  </div>
  <div class="form-wrap">
    <label class="form-label" for="contact-email">Email</label>
    <input class="form-input" id="contact-email" type="email" name="email" data-constraints="@Required @Email" />
  </div>
  <div class="form-wrap">
    <label class="form-label" for="contact-phone">Telefon</label>
    <input class="form-input" id="contact-phone" type="text" name="phone" data-constraints="@Required @PhoneNumber" />
  </div>
  <div class="form-button">
    <button class="button button-jerry button-primary" type="submit">
      Senden<span class="button-jerry-line"></span><span class="button-jerry-line"></span><span
        class="button-jerry-line"></span><span class="button-jerry-line"></span>
    </button>
  </div>
</form>