{#% load cache %#}
{#% cache 30 header %#}
<!DOCTYPE html>
<html class="wide wow-animation" lang="de">
{% load static %}
<head>
    <title>{% block title %}Elektroservice König{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="{% static 'images/favicon.svg' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
</head>

<body>
<div class="preloader">
    <div class="cssload-box-loading"></div>
</div>
{% block content %}
{% endblock content %}
{% block javascript %} {% endblock javascript%}
</body>
</html>