<!DOCTYPE html>
<html class="wide wow-animation" lang="de">
{% load static %}
{% load cache %}
{% cache 30 header %}
<head>
    <title>{% block title %}Elektroservice König - Zuverlässiger Experte für Ihre Solaranlage{% endblock %}</title>
    <!-- Schema.org Markup für Organization -->
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "url": "https://koenig39.de",
            "name": "Koenig39",
            "contactPoint": {
                "@type": "ContactPoint",
                "telephone": "+49-0157-57470753",
                "contactType": "Customer Service"
            }
        }
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="description"
          content="Professionelle Elektroinstallationen vom Experten. Elektroservice König bietet Ihnen hochwertige
          Lösungen für Ihr Zuhause oder Geschäft - von der Planung bis zur Umsetzung.
          Vertrauen Sie auf unsere jahrelange Erfahrung und erstklassigen Service.">
    <meta name="keywords"
          content="solarenergie, photovoltaik anlage, solarpanel, erneuerbare energien, solardach, solarstrom, photovoltaik system,
          solarthermie, solarstrom erzeugen, solarmodule, solarpark, photovoltaikanlage, solarbatterie, solarstrom speichern, solarstrom haus,
          solarstrom anlage, solarstromanlage, solarstrom komplett, photovoltaikanlage kosten, solartechnik, solarenergieanlagen, solardach preis,
          solarzelle, solarheizung, solarstrom miete, solarprojekt, solarstrom verbrauch,
          solarstrom erzeugung, solarstrom einspeisen, solarstrom für zuhause, solarstrom anlage kosten, solarstrom kaufen">

    <link rel="icon" href="{% static 'images/favicon.svg' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">

</head>
{% endcache %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-YJ5P4KN4KN"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-YJ5P4KN4KN');
</script>
<body>
<div class="preloader">
    <div class="cssload-box-loading"></div>
</div>
{% block content %}
{% endblock content %}
{% block javascript %} {% endblock javascript%}
</body>
</html>